
<div class="services-container">

	<div class="text-center">
		<h3>Descenso de Peso</h3>
	</div>

	<div class="services-list row">
		<div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 left-grid">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-list-title text-center">
				<div class="service-title-box">
					<div>
						<a href="">Servicios Online</a>
					</div>
					<a href="" class="services-online-glyph"></a>
				</div>
			</div>
			<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<div>
					<img class="services-image online-img" src="http://127.0.0.1:8082/static/img/services/online_service.jpg" alt="Servicios Online">
				</div>
			</div>
			<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<div class="services-list-items services-left-items">
					<ul>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('alimentary-plan')">Plan Alimentario</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('assistance')">Asistencia y devoluciones permanentes</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('excersice-prescription')">Prescripción de Ejercicio</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('mobile-app')">Aplicación Móvil</a><a> y </a>
							<a href="" ng-click="scrollTo('campus')">Campus Virtual</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('group-interaction')">Compartir e interactuar con otros pacientes</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('neurosychic-education')">Clases Grabadas y en Vivo</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('neurosychic-education')">Juegos Interactivos y Actividades Didácticas</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('periodic-measurements')">Técnicas de autoseguimiento</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('nutrigenomic')">Nutrigenómica</a>
						</li>
						<li id="left_trigger">
							<button id="left_collider" class="bullet-glyphicon"></button>
							<a href="" ng-click="scrollTo('periodic-measurements')">Control, seguimiento y motivación</a>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="col-6 col-sm-12 col-md-6 col-lg-6 col-xl-6 right-grid">
			<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-list-title text-center">
				<div class="service-title-box">
					<div>
						<a href="">Consultorio Particular</a>
					</div>
					<a href="" class="services-ftf-glyph"></a>
				</div>
			</div>
			<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
				<div class="services-list-items services-right-items">
					<ul>
						<li id="right_trigger">
							<a href="">Consulta semanal, quincenal o mensual</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('excersice-prescription')">Prescripción de Ejercicio</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('mobile-app')">Aplicación Móvil</a><a> y </a>
							<a href="" ng-click="scrollTo('campus')">Acceso al Campus Virtual</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('neurosychic-education')">Consultas temáticas de educación alimentaria</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('group-interaction')">Juegos Interactivos y Actividades Didácticas</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('periodic-measurements')">Bioimpedancia</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('nutrigenomic')">Nutrigenómica</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
						<li id="right_trigger">
							<a href="" ng-click="scrollTo('calorimetry')">Calorimetría Indirecta</a>
							<button id="right_collider" class="bullet-glyphicon"/>
						</li>
					</ul>
				</div>
			</div>
			<div class="col-4 col-sm-4 col-md-4 col-lg-4 col-xl-4">
				<div>
					<img class="services-image" src="http://127.0.0.1:8082/static/img/services/presential_service.jpg" alt="Consultorio Particular">
				</div>
			</div>
		</div>
	</div>

	<div class="services-content container">
		<div id="alimentary-plan" 				service-alimentary-plan-es></div>
		<div id="assistance" 							service-assistance-es></div>
		<div id="periodic-measurements" 	service-periodic-measurements-es></div>
		<div id="excersice-prescription" 	service-excersice-prescription-es></div>
		<div id="motivation" 							service-motivation-es></div>
		<div id="neurosychic-education" 	service-neurosychic-food-education-es></div>
		<div id="calorimetry"							service-indirect-calorimetry-es></div>
		<div id="group-interaction" 			service-group-interaction-es></div>
		<div id="nutrigenomic"						service-nutrigenetic-es></div>
		<div id="mobile-app" 							service-mobile-app-es></div>
		<div id="campus" 									service-campus-es></div>
	</div>
</div>

<div class="up-arrow" ng-show="isArrowVisible" up-arrow>
	<button class="bullet-glyphicon" ng-click="scrollTo('top')"></button>
</div>
