html, body {
	font-family: 'Varela Round';
}

/* INDEX
 */
.outside-content {
	position: absolute;
  width: 100%;
  height: 100%;
	background-image: rgb(255,255,255);
}
.ui-content {
	position: relative;
	top:0px;
}

/* LANGUAGE HEADER
 */
.header-language {
 	float: right;
 	clear: right;
 	margin-top: -10px
 }

/* HEADER
 */
div.header-mnv {

}
.header-mnv p.name {
	font-weight: bold;
	font-size: 26px;
}
.header-mnv p.legend {
	font-weight: bold;
	padding-left: 64px;
	margin-top: -16px;
	font-size: 14px;
}

/* WELCOME
 */
.welcome-content {
	position:relative;
 }
.welcome-title p {
	font-size: 20px
}
.welcome-services p {
	font-size: 27px
}
.welcome-button button {
	width: 100px;
	height: 50px
}
.img-logo-td {
	height: 320px;
	width: 320px
}

/* FOOTER
 */
.footer-sponsor {
	margin-left: -20px;
	position: fixed;
	bottom:0;
	width: 100%
}
.footer-sponsor div.footer-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 2px solid rgb(0,0,0);
	border-bottom: 5px solid #FFFFFF;
}
.footer-sponsor div.footer-bottom {
	border-bottom: 5px solid rgb(255,255,255);	
}
.footer-sponsor div.footer-box {
	background: rgb(255,255,255);
}
.img-sponsor {
	height: 60px;
}
.img-sponsor-left-fix {
	margin-left: -40px;
}
.img-sponsor-right-fix {
	margin-left: 30px;
}

/* HOME
 */
.home-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.daily-recipe {
	border: solid black 1px;
	padding: 5px 5px 5px 5px;
}
.daily-recipe a img {
	
}
.home-welcome p.home-welcome-title {
	font-weight: bold;
	font-size: 36px;
}
.home-welcome div.home-welcome-text p {
	font-size: 26px;
}
.welcome-text-custom-bullet li {
	font-size: 18px;
  display: block;
}
.welcome-text-custom-bullet li:before {
  content:"\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  margin-top: 4px;
  margin-left: -17px;
  margin-right: 4px;
  color: #00FF00;
}

/* SERVICES
 */
.services-content {
	padding-top: 20px;
	padding-bottom: 20px;
}
.services-title {
	position: relative;
	top:60px;
	font-weight: bold;
	font-size: 20px
}
.services-items {
	font-weight: bold;
	font-size: 16px
}
.services-face-to-face-items li {
	text-align: left;
}
.services-online-items li {
	text-align: right;
}
.services-items ul {
	list-style: none;
}
/*.online-custom-bullet li, .face-to-face-custom-bullet li {
	display: block;
}*/
/**/
.services-online-items button:after {
	content:"\e079";
}
.services-face-to-face-items button:before {
	content:"\e080";
}
.services-face-to-face-items button:before, .services-online-items button:after {
	font-family: 'Glyphicons Halflings';
  font-size: 20px;
  margin-left: 7px;
  margin-right: 7px;
  color: #00FF00;
}

.services-face-to-face-items button, .services-online-items button {
	margin-left: -10px;
	margin-right: -10px;
	background: rgba(255,255,255,0);
	color: rgba(255,255,255,0);
	border: 0px;
	transition: all ease-in-out 800ms;
}

#ftf_1:hover > #ftf_1-0, #ftf_2:hover > #ftf_2-0, #ftf_3:hover > #ftf_3-0, 
#ftf_4:hover > #ftf_4-0, #ftf_5:hover > #ftf_5-0, #ftf_6:hover > #ftf_6-0, 
#ftf_7:hover > #ftf_7-0, #ftf_8:hover > #ftf_8-0, #ftf_9:hover > #ftf_9-0, 
#ftf_10:hover > #ftf_10-0 {
	transform: rotate(-270deg);
	transition: all ease-in-out 800ms;	
}

#online_1:hover > #online_1-0, #online_2:hover > #online_2-0, #online_3:hover > #online_3-0, 
#online_4:hover > #online_4-0, #online_5:hover > #online_5-0, #online_6:hover > #online_6-0, 
#online_7:hover > #online_7-0, #online_8:hover > #online_8-0, #online_9:hover > #online_9-0, 
#online_10:hover > #online_10-0 {
	transform: rotate(270deg);
	transition: all ease-in-out 800ms;
}












/* NO SE USA, ES DEL LOGIN VIEJO, REUTILIZAR O BORRAR */
.welcome-area {
	width: 500px;
	height: 450px;
	background: rgba(239,239,239,0.85);
	position:fixed;
	right:200px;
	bottom:130px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.home-content {
	padding: 20px 20px 20px 20px;
}

.home-button-group {

}

.login-content {
	padding: 20px 20px 20px 20px;
}

.login-content ul li {
	list-style-type: none;
}