html, body {
	font-family: 'Varela Round';
}

/* VIEW
 */
.view-animate {
}
.view-animate.ng-enter, .view-animate.ng-leave, [ui-view].ng-enter, [ui-view].ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.7s;
}

.view-animate.ng-enter, [ui-view].ng-enter {
  opacity: 0;
}
.view-animate.ng-enter.ng-enter-active, [ui-view].ng-enter.ng-enter-active {
  opacity: 1;
}
.view-animate.ng-leave.ng-leave-active, [ui-view].ng-leave.ng-leave-active {
  opacity: 0;
}

/* INDEX
 */
.outside-content {
	position: absolute;
  width: 100%;
  height: 100%;
	background-image: rgb(255,255,255);
}
.ui-content {
	position: relative;
	top:0px;
}

/* LANGUAGE HEADER
 */
.header-language {
 	float: right;
 	clear: right;
 	margin-top: -10px
 }

/* HEADER
 */
div.header-mnv {

}
.header-mnv p.name {
	font-weight: bold;
	font-size: 26px;
}
.header-mnv p.legend {
	font-weight: bold;
	padding-left: 64px;
	margin-top: -16px;
	font-size: 14px;
}

/* NAV
 */
.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: -1px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  -webkit-background-clip: padding-box;
          background-clip: padding-box;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, .15);
  border-top: 0px;
  border-radius: 4px;
  border-top-left-radius: 0px;
  border-top-right-radius: 0px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
          box-shadow: 0 6px 12px rgba(0, 0, 0, .175);	
	transition: 300ms ease-in-out all;
	opacity: 0.9;          
}
.custom-dropdown-menu.ng-hide {
  transition: 300ms ease-in-out all;
  opacity:0;
}

.custom-dropdown-menu li {
	padding-left: 5px;
	width: 175px;
	transform: translateX(0px);
	transition: all ease-in-out 200ms;
}
.custom-dropdown-menu li:hover {
	font-weight: bold;
	transform: translateX(5px);
	transition: all ease-in-out 200ms;
}

/* WELCOME
 */
.welcome-content {
	position:relative;
	top: -10px;
 }
.welcome-title p {
	font-size: 20px
}
.welcome-services p {
	font-size: 27px
}
.welcome-button button {
	width: 100px;
	height: 50px
}
.img-logo-td {
	height: 320px;
	width: 320px
}

/* FOOTER
 */
.footer-sponsor {
	margin-left: -20px;
	position: fixed;
	bottom:0;
	width: 100%
}
.footer-sponsor div.footer-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 2px solid rgb(0,0,0);
	border-bottom: 5px solid #FFFFFF;
}
.footer-sponsor div.footer-bottom {
	border-bottom: 5px solid rgb(255,255,255);	
}
.footer-sponsor div.footer-box {
	background: rgb(255,255,255);
}
.img-sponsor {
	height: 60px;
}
.img-sponsor-left-fix {
	margin-left: -40px;
}
.img-sponsor-right-fix {
	margin-left: 30px;
}

/* HOME
 */
.home-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.daily-recipe {
	border: solid black 1px;
	padding: 5px 5px 5px 5px;
}
.daily-recipe a img {
	
}
.home-welcome p.home-welcome-title {
	font-weight: bold;
	font-size: 36px;
}
.home-welcome div.home-welcome-text p {
	font-size: 26px;
}
.welcome-text-custom-bullet li {
	font-size: 18px;
  display: block;
}
.welcome-text-custom-bullet li:before {
  content:"\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  margin-top: 4px;
  margin-left: -17px;
  margin-right: 4px;
  color: #00FF00;
}

/* SERVICES
 */

.services-container {
	overflow-y: hidden;
	overflow-x: hidden;
	margin-bottom: -20px;
}
.services-list {
	padding-top: 20px;
	padding-bottom: 20px;
}
.services-list-title {
	margin-top: 10px;
	margin-bottom: 18px;
	font-weight: bold;
	font-size: 16px
}
.left-grid div.services-list-title {
	margin-left: -70px;
}
.right-grid div.services-list-title {
	margin-left: 100px
}
.services-list-items {
	font-weight: bold;
	font-size: 14px
}
.services-left-items li {
	text-align: left;
}
.services-right-items li {
	text-align: right;
}
.services-list-items ul {
	list-style: none;
}
.services-right-items button:after {
	content:"\e079";
}
.services-left-items button:before {
	content:"\e080";
}
.services-left-items button:before, .services-right-items button:after {
	font-family: 'Glyphicons Halflings';
  font-size: 14px;
  margin-left: 7px;
  margin-right: 7px;
  color: #00FF00;
}
.services-left-items button {
	margin-left: -10px;
	margin-right: -10px;
}
.bullet-glyphicon {
	background: rgba(255,255,255,0);
	color: rgba(255,255,255,0);
	border: 0px;
}
/* Both Services Animation */
.services-left-items button, .services-right-items button {
	transition: all ease-in-out 400ms;
}
#left_trigger:hover, #right_trigger:hover {
	transition: all ease-in-out 800ms;
}
/* Online Services Animation */
#left_trigger:hover > #left_collider {
	transform: rotate(-270deg);
	transition: all ease-in-out 800ms;
}
#left_trigger:hover {
	transform: translateX(-18px);
}
#left_trigger, #right_trigger {
	transform: translate(0px);
	transition: all ease-in-out 400ms;
}
/* Presential Services Animation */
#right_trigger:hover > #right_collider {
	transform: rotate(270deg);
	transition: all ease-in-out 800ms;	
}
#right_trigger:hover {
	transform: translateX(18px);
}

/*#right_trigger:hover #right_trigger {
	transform: translateX(10px);
	transition: all ease-in-out 800ms;	
}*/

.services-separator {
	border:1px solid black;
	border-radius: 10px 10px 10px 10px;
	margin-top:18px;
	margin-bottom: 18px
}

.services-content {
	margin-bottom: 70px;
}
.services-content-title {
	font-weight: bold;
	font-size: 18px;
}
.services-description {
	padding-right: 70px;
	padding-left: 40px;
	font-size: 16px;
}
/* Services Bullets Online & Presential */
.services-online-glyph:after {
	content:"\e135";
}
.services-ftf-glyph:after {
	content:"\e008";
}
.services-online-glyph, .services-ftf-glyph {
	font-family: 'Glyphicons Halflings';
  font-size: 20px;
  color: #334185;
  margin-left: 7px;
  margin-right: 7px;
}
/* Services Bullets Check & Cross*/
button.services-bullet-check:after {
	content:"\e089";
	color: #00FF00;
}
button.services-bullet-cross:after {
	content:"\e088";
	color: #FF0000;
}
button.services-bullet-check:after, button.services-bullet-cross:after {
	position: relative;
	top:5px;
	margin-left: 10px;
	font-family: 'Glyphicons Halflings';
  font-size: 20px;
}
.services-image {
	position: relative;
	top: 50px;
	width: 150px;
	height: 150px;
	border: 2px solid #334185;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
.online-img {
	margin-left: 30px;
}


/* MISC
 */
.bold-text {
	font-weight: bold;
}
div.up-arrow {
	font-family: 'Glyphicons Halflings';
	font-size: 30px;
	position: fixed;
	bottom: 80px;
	right: 40px;
}
.up-arrow button:before {
	color: #334185;
	content:"\e133";
}
.up-arrow button {
	width: 0px;
}


/* NO SE USA, ES DEL LOGIN VIEJO, REUTILIZAR O BORRAR */
.welcome-area {
	width: 500px;
	height: 450px;
	background: rgba(239,239,239,0.85);
	position:fixed;
	right:200px;
	bottom:130px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.home-content {
	padding: 20px 20px 20px 20px;
}

.home-button-group {

}

.login-content {
	padding: 20px 20px 20px 20px;
}

.login-content ul li {
	list-style-type: none;
}