html, body {
	font-family: 'Varela Round';
}

/* INDEX
 */
.outside-content {
	position: absolute;
  width: 100%;
  height: 100%;
	background-image: rgb(255,255,255);
}
.ui-content {
	position: relative;
	top:0px;
}

/* LANGUAGE HEADER
 */
.header-language {
 	float: right;
 	clear: right;
 	margin-top: -10px
 }

/* HEADER
 */
div.header-mnv {

}
.header-mnv p.name {
	font-weight: bold;
	font-size: 20px;
}
.header-mnv p.legend {
	font-weight: bold;
	padding-left: 64px;
	margin-top: -16px;
	font-size: 14px;
}

/* WELCOME
 */
.welcome-content {
	position:relative;
 }
.welcome-title p {
	font-size: 20px
}
.welcome-services p {
	font-size: 27px
}
.welcome-button button {
	width: 100px;
	height: 50px
}
.img-logo-td {
	height: 320px;
	width: 320px
}

/* FOOTER
 */
.footer-sponsor {
	margin-left: -20px;
	position: fixed;
	bottom:0;
	width: 100%
}
.footer-sponsor div.footer-top {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	border-top: 2px solid rgb(0,0,0);
	border-bottom: 5px solid #FFFFFF;
}
.footer-sponsor div.footer-bottom {
	border-bottom: 5px solid rgb(255,255,255);	
}
.footer-sponsor div.footer-box {
	background: rgb(255,255,255);
}
.img-sponsor {
	height: 60px;
}
.img-sponsor-left-fix {
	margin-left: -40px;
}
.img-sponsor-right-fix {
	margin-left: 30px;
}

/* HOME
 */
.home-content {
	padding-top: 20px;
	padding-bottom: 20px;
}

.daily-recipe {
	border: solid black 1px;
	padding: 5px 5px 5px 5px;
}
.daily-recipe a img {
	
}
.home-welcome p.home-welcome-title {
	font-weight: bold;
	font-size: 36px;
}
.home-welcome div.home-welcome-text p {
	font-size: 26px;
}
.custom-bullet li {
	font-size: 18px;
  display: block;
}
.custom-bullet li:before {
  /*Using a Bootstrap glyphicon as the bullet point*/
  content:"\e013";
  font-family: 'Glyphicons Halflings';
  font-size: 18px;
  margin-top: 4px;
  margin-left: -17px;
  margin-right: 4px;
  color: #00FF00;
}




/* NO SE USA, ES DEL LOGIN VIEJO, REUTILIZAR O BORRAR */
.welcome-area {
	width: 500px;
	height: 450px;
	background: rgba(239,239,239,0.85);
	position:fixed;
	right:200px;
	bottom:130px;
	-moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

.home-content {
	padding: 20px 20px 20px 20px;
}

.home-button-group {

}

.login-content {
	padding: 20px 20px 20px 20px;
}

.login-content ul li {
	list-style-type: none;
}