<div class="header-mnv" mnv-header-en></div>

<div ng-controller="NavController">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="" ng-click="home()">Home</a></li>
	  <li role="presentation"><a href="" ng-click="services()">Services</a></li>
		<li role="presentation" class="dropdown" ng-mouseover="showMenu()" ng-mouseleave="hideMenu()">
	    <a href="" role="button" aria-haspopup="true" aria-expanded="false">Food Plans <span class="caret"></span></a>
	    <ul class="custom-dropdown-menu" aria-labelledby="simple-dropdown" ng-show="isDropdownExpanded">
      	<li><a href="">Healthy Nutrition</a></li>
      	<li><a href="">Weight Loss</a></li>
      	<li><a href="">Fitness</a></li>
      	<li><a href="">Sports Nutrition</a></li>
      	<li><a href="">Muscle Nutrition</a></li>
	    </ul>
	  </li>	 	  
	  <li role="presentation"><a href="">Recipes</a></li>
	  <li role="presentation"><a href="">Courses</a></li>
	  <li role="presentation"><a href="">Shopping</a></li>
	  <li role="presentation"><a href="">News &amp; Info</a></li>
	  <li role="presentation"><a href="">Contact</a></li>
	</ul>	
</div>

<div class="home-content row">

	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<p>¡Recipe of the day!</p>
		<p>by: "system user"</p>
		<div class="daily-recipe">
			<a href="">
        <img class="img-responsive" src="http://127.0.0.1:8082/static/img/daily-recipe/dessert.jpg" alt="Daily recipe">
      </a>
		</div>
	</div>

	<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
		<div class="home-welcome text-center">
			<p class="home-welcome-title">WELCOME!</p>
			<div class="home-welcome-text">
				<p>I invite you to become your best healthy version</p>
				<p>learning to eat, ¡and without prohibitions! (buscar un sustantivo mejor)</p>
				<p>I will teach you: </p>
				<ul class="welcome-text-custom-bullet">
					<li>food combinations and portions</li>
					<li>to make your own custom menu</li>
					<li>VER cómo mejorar situaciones como empleo, comidaa fre (???)</li>
					<li>VER leer e incorporar rótulos alimentarios (????)</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<ul class="nav nav-pills nav-stacked">
  		<li role="presentation"><a href="">Mobile Application</a></li>
  		<li role="presentation"><a href="">Alimentary Educational Courses</a></li>
  		<li role="presentation"><a href="">Excersice</a></li>
  		<li role="presentation"><a href="">Games and Interactive Activities</a></li>
  		<li role="presentation"><a href="">Private Consultations</a></li>
		</ul>
	</div>

</div>