<!-- <div class="login-content">

	<div class="input-group">
  	<span class="input-group-addon" id="basic-addon1">@</span>
  	<input type="text" class="form-control" placeholder="Username" aria-describedby="basic-addon1" ng-model="user.email">
	</div>
	<div class="input-group">
		<span class="input-group-addon glyphicon glyphicon-user" id="basic-addon1"></span>
  	<input type="password" class="form-control" placeholder="Password" aria-describedby="basic-addon1" ng-model="user.password">
  </div>

	<div class="btn-group btn-group-justified" role="group" aria-label="...">
		<div class="btn-group" role="group">
			<button type="button" class="btn btn-default" ng-click="login()">Send</button>
		</div>
	</div>

	<div>
		<a ui-sref="outside.recover">Can't remember your password?</a>
	</div>

</div> -->


<div class="text-center" style="padding:50px 0">
	<div class="logo">acceder</div>

	<!-- Main Form -->

	<div class="login-form-1">
		<form id="login-form" class="text-left">
			<div class="login-form-main-message"></div>
			<div class="main-login-form">

				<div class="login-group">
					<div class="form-group">
						<label for="" class="sr-only">Dirección de Mail</label>
						<input type="text" class="form-control" id="" name="" placeholder="email" ng-model="user.email">
					</div>
					<div class="form-group">
						<label class="sr-only">Contraseña</label>
						<input type="password" class="form-control" placeholder="contraseña" ng-model="user.password">
					</div>
				</div>

				<button type="submit" class="login-button" ng-click="login()"><i class="fa fa-chevron-right"></i></button>

			</div>

			<div class="etc-login-form">
				<p>olvidaste tu contraseña? <a ui-sref="outside.recover">recuperar</a></p>
				<p>sos nuevo? <a ui-sref="outside.register">crea una cuenta</a></p>
				<p>volver a <a ui-sref="outside.home">inicio</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->

</div>