<!-- <div class="list">
	<ul>
		<li>
		  <label class="item item-input">
		    <input type="text" placeholder="Email" ng-model="user.email">
		  </label>
	  </li>
	  <li>
		  <label class="item item-input">
		    <input type="text" placeholder="Name" ng-model="user.name">
		  </label>
		</li>
		<li>
		  <label class="item item-input">
		    <input type="password" placeholder="Password" ng-model="user.password">
		  </label>
		</li>
		<li>
			<button class="button button-full button-positive" ng-click="signup()">Sign up</button>
		</li>
	</ul>
</div>
 -->


 <!-- REGISTRATION FORM -->
<div class="text-center" style="padding:50px 0">
	<div class="logo">registro</div>

	<!-- Main Form -->
	<div class="login-form-1">
		<form id="register-form" class="text-left">
			<div class="login-form-main-message"></div>

			<div class="main-login-form">
				<div class="login-group">

					<div class="form-group">
						<label for="reg_email" class="sr-only">Dirección de Mail</label>
						<input type="text" class="form-control" id="reg_email" name="" placeholder="email" ng-model="user.email">
					</div>
					<div class="form-group">
						<label for="reg_password" class="sr-only">Contraseña</label>
						<input type="password" class="form-control" id="" name="" placeholder="contraseña" ng-model="user.password">
					</div>
<!-- 					<div class="form-group">
						<label for="reg_password_confirm" class="sr-only">Password Confirm</label>
						<input type="password" class="form-control" id="reg_password_confirm" name="reg_password_confirm" placeholder="confirm password">
					</div> -->

<!-- 					<div class="form-group">
						<label for="reg_surnames" class="sr-only">Surnames</label>
						<input type="text" class="form-control" id="reg_surnames" name="reg_surnames" placeholder="surnames">
					</div> -->
					<div class="form-group">
						<label for="reg_name" class="sr-only">Nombre</label>
						<input type="text" class="form-control" id="reg_name" name="reg_name" placeholder="nombre" ng-model="user.name">
					</div>
					
					<div class="form-group login-group-checkbox">
						<input type="radio" class="" name="reg_gender" id="male" placeholder="username">
						<label for="male">hombre</label>
						
						<input type="radio" class="" name="reg_gender" id="female" placeholder="username">
						<label for="female">mujer</label>
					</div>
					
<!-- 					<div class="form-group login-group-checkbox">
						<input type="checkbox" class="" id="reg_agree" name="reg_agree">
						<label for="reg_agree">i agree with <a href="#">terms</a></label>
					</div> -->
				</div>
				<button type="submit" class="login-button" ng-click="signup()"><i class="fa fa-chevron-right"></i></button>
			</div>

			<div class="etc-login-form">
				<p>ya tengo cuenta <a ui-sref="outside.login">acceder</a></p>
				<p>volver a <a ui-sref="outside.home">inicio</a></p>
			</div>
		</form>
	</div>
	<!-- end:Main Form -->
</div>