

<div class="home-content">
	<div class="logo">Bienvenido</div>
			
	<div class="home-button-group">
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ui-sref="outside.login">Ingresar</button>
			</div>
		</div>
		<div class="btn-group btn-group-justified" role="group" aria-label="...">
			<div class="btn-group" role="group">
				<button type="button" class="btn btn-default" ui-sref="outside.register">Registrarse!</button>
			</div>
		</div>
	</div>

	</div>

</div>

<!-- 
<div class="text-center" style="padding:50px 0">
	<div class="logo">Bienvenido</div>
	
	<div class="login-form-1">
		<form class="text-left">
			<div class="etc-login-form">
				<p>.</p>
			</div>
			<div class="login-form-main-message"></div>

			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<label for="home_login" class="sr-only">ingresar</label>
						<button type="submit" class="custom-button" id="home_login" name="home_login" ui-sref="outside.login">ingresar</button>
					</div>
				</div>
			</div>
			<div class="main-login-form">
				<div class="login-group">
					<div class="form-group">
						<button type="submit" class="custom-button" ui-sref="outside.register">registrarse</button>
					</div>
				</div>
			</div>		
			
		</form>
	</div>
	
</div>

 -->