<div class="footer-sponsor">
	<div class="footer-top"></div>
	<div class="row footer-box">

   	<div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a href="#">
         <img class="img-sponsor img-responsive img-sponsor-right-fix" src="http://127.0.0.1:8082/static/img/sponsor/aisaa.jpg" alt="Aisaa">
      </a>
	  </div>
	  <div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a href="#">
         <img class="img-sponsor img-responsive" src="http://127.0.0.1:8082/static/img/sponsor/just_max_inc.png" alt="Just Max Inc.">
      </a>
   	</div>
   	<div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a href="#">
         <img class="img-sponsor img-responsive img-sponsor-fix" src="http://127.0.0.1:8082/static/img/sponsor/instituto_dr_beker.jpg" alt="Instituto Dr. Beker">
      </a>
   	</div>
   	<div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a href="#">
         <img class="img-sponsor img-responsive" src="http://127.0.0.1:8082/static/img/sponsor/in_vita.jpg" alt="in Vita">
      </a>
   	</div>
   	<div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a href="#">
         <img class="img-sponsor img-responsive" src="http://127.0.0.1:8082/static/img/sponsor/sport_club.jpg" alt="Sport Club">
      </a>
   	</div>	   	   
   	<div class="col-1 col-sm-2 col-md-2 col-lg-2 col-xl-2">
      <a href="#">
         <img class="img-sponsor img-responsive" src="http://127.0.0.1:8082/static/img/sponsor/kine.png" alt="Kiné">
      </a>
   	</div>
  </div>
  <div class="footer-bottom"></div>
</div>