<div class="header-mnv" mnv-header-es></div>

<div ng-controller="NavController">
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><a href="" ng-click="home()">Inicio</a></li>
	  <li role="presentation"><a href="" ng-click="services()">Servicios</a></li>
	  <li role="presentation" class="dropdown" ng-mouseover="showMenu()" ng-mouseleave="hideMenu()">
	    <a href="" role="button" aria-haspopup="true" aria-expanded="false">Planes Alimentarios <span class="caret"></span></a>
	    <ul class="custom-dropdown-menu" aria-labelledby="simple-dropdown" ng-show="isDropdownExpanded">
      	<li><a href="">Alimentación Saludable</a></li>
      	<li><a href="">Descenso de Peso</a></li>
      	<li><a href="">Fitness</a></li>
      	<li><a href="">Nutrición Deportiva</a></li>
      	<li><a href="">Musculación</a></li>
	    </ul>
	  </li>	  
	  <li role="presentation"><a href="">Recetas</a></li>
	  <li role="presentation"><a href="">Cursos</a></li>
	  <li role="presentation"><a href="">Compras</a></li>
	  <li role="presentation"><a href="">Noticias</a></li>
	  <li role="presentation"><a href="">Contacto</a></li>
	</ul>
</div>

<div class="home-content row">

	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<p>¡Receta del día!</p>
		<p>por: "usuario del sistema"</p>
		<div class="daily-recipe">
			<a href="">
        <img class="img-responsive" src="http://127.0.0.1:8082/static/img/daily-recipe/dessert.jpg" alt="Daily recipe">
      </a>
		</div>
	</div>

	<div class="col-8 col-sm-8 col-md-8 col-lg-8 col-xl-8">
		<div class="home-welcome text-center">
			<p class="home-welcome-title">¡BIENVENIDO!</p>
			<div class="home-welcome-text">
				<p>Te invito a construir tu propia versión saludable</p>
				<p>aprendiendo a comer, ¡y sin prohibiciones!</p>
				<p>Le enseñaré: </p>
				<ul class="welcome-text-custom-bullet">
					<li>combinaciones de alimentos y porciones</li>
					<li>armarse su propio menú personalizado</li>
					<li>cómo mejorar situaciones como empleo, comidaa fre (???)</li>
					<li>leer e incorporar rótulos alimentarios (????)</li>
				</ul>
			</div>
		</div>
	</div>

	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<ul class="nav nav-pills nav-stacked">
  		<li role="presentation"><a href="">Aplicación Móvil</a></li>
  		<li role="presentation"><a href="">Clases de Educación Alimentaria</a></li>
  		<li role="presentation"><a href="">Ejercicio</a></li>
  		<li role="presentation"><a href="">Juegos y Actividades Interactivas</a></li>
  		<li role="presentation"><a href="">Consultas privadas</a></li>
		</ul>
	</div>

</div>