<div class="header-mnv" mnv-header-es></div>

<div>
	<ul class="nav nav-tabs">
	  <li role="presentation"><a ng-click="home()">Inicio</a></li>
	  <li role="presentation" class="active"><a ng-click="services()">Servicios</a></li>
	  <li role="presentation"><a href="">Educación Alimentaria</a></li>
	  <li role="presentation"><a href="">Nutrigenética</a></li>
	  <li role="presentation"><a href="">Recetas</a></li>
	  <li role="presentation"><a href="">Quien Soy</a></li>
	  <li role="presentation"><a href="">Contacto</a></li>
	</ul>
</div>

<div class="services-container">
	<div class="services-list row">

		<div class="col-2 col-sm-4 col-md-2 col-lg-2 col-xl-2 text-center">
			<div class="services-list-title">
				<p>Servicios en</p>
				<p>Consultorio Privado</p>
			</div>
		</div>

		<div class="col-4 col-sm-8 col-md-4 col-lg-4 col-xl-4">
			<div class="services-list-items services-face-to-face-items">
				<ul>
					<li id="ftf_1"><button id="ftf_1-0"></button><a href="">Consulta semanal, quincenal o mensual</a></li>
					<li id="ftf_2"><button id="ftf_2-0"></button><a href="">Bioimpedancia</a></li>
					<li id="ftf_3"><button id="ftf_3-0"></button><a href="">Calorimetría Indirecta</a></li>
					<li id="ftf_4"><button id="ftf_4-0"></button><a href="">Prescripción de Ejercicio</a></li>
					<li id="ftf_5"><button id="ftf_5-0"></button><a href="">Aplicación Móvil</a></li>
					<li id="ftf_6"><button id="ftf_6-0"></button><a href="">Acceso al Campus Virtual</a></li>
					<li id="ftf_7"><button id="ftf_7-0"></button><a href="">Compartir e interactuar con otros pacientes</a></li>
					<li id="ftf_8"><button id="ftf_8-0"></button><a href="">Juegos Interactivos y Actividades Didácticas</a></li>
					<li id="ftf_9"><button id="ftf_9-0"></button><a href="">Consultas temáticas de educación alimentaria</a></li>
					<li id="ftf_10"><button id="ftf_10-0"></button><a href="">Nutrigenómica</a></li>
				</ul>
			</div>
		</div>
		<div class="col-4 col-sm-8 col-md-4 col-lg-4 col-xl-4">
			<div class="services-list-items services-online-items">
				<ul>
					<li id="online_1"><a href="">Plan Alimentario</a><button id="online_1-0" /></li>
					<li id="online_2"><a href="">Asistencia y devoluciones permanentes</a><button id="online_2-0" /></li>
					<li id="online_3"><a href="">Clases Grabadas y en Vivo</a><button id="online_3-0"/></li>
					<li id="online_4"><a href="">Prescripción de Ejercicio</a><button id="online_4-0"/></li>
					<li id="online_5"><a href="">Aplicación Móvil</a><button id="online_5-0" /></li>
					<li id="online_6"><a href="">Campus Virtual</a><button id="online_6-0" /></li>
					<li id="online_7"><a href="">Compartir e interactuar con otros pacientes</a><button id="online_7-0" /></li>
					<li id="online_8"><a href="">Juegos Interactivos y Actividades Didácticas</a><button id="online_8-0" /></li>
					<li id="online_9"><a href="">Técnicas de autoseguimiento</a><button id="online_9-0" /></li>
					<li id="online_10"><a href="">Nutrigenómica</a><button id="online_10-0" /></li>
				</ul>
			</div>
		</div>

		<div class="col-2 col-sm-4 col-md-2 col-lg-2 col-xl-2 text-center">
			<div class="services-list-title">
				<p>Servicios</p>
				<p>Online</p>
			</div>
		</div>
	</div>

	<div class="services-separator"></div>

	<div class="services-content">
		<div class="row">
			<div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 services-content-title">
				<p>Plan Alimentario descenso de peso saludable</p>
			</div>
			<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
				<p class="services-bullet-check">Presencial</p>
			</div>
			<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
				<p class="services-bullet-cross">Online</p>
			</div>
		</div>
		<div class="row">
			<div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 services-description">
				<p>Aprenderás a armar tu plato y comidas basándote en fórmulas de grupos de alimentos y</p>
				<p>ejemplos. Esto te permitirá una autogestión, planificación y personalización. Porque no todos</p>
				<p>los días quieres comer lo mismo ni de otra manera vas a educarte para un estilo de vida saludable.</p>
			</div>
			<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
				<p class="services-ftf-icon"></p>
			</div>
			<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
				<p class="services-online-icon"></p>
			</div>			
		</div>
	</div>




</div>