
<div>

	<div class="welcome-content">
		<div class="welcome-title">
			<p class="text-center">tu puedes, yo pude, nosotros podemos</p>
		</div>
		<div class="img-logo-td center-block">
			<img class="img-responsive" src="http://127.0.0.1:8082/static/img/nutri_logo_td.jpg">
		</div>
		<div class="welcome-services">
			<p class="text-center">nutrigenética · cocina · ejercicio · neuro · arteterapia</p>
		</div>

		<div class="welcome-button">
			<button type="button" class="btn btn-default center-block" ng-click="enter('es')">Ingresar</button>
		</div>

	</div>

</div>