<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Plan de alimentación para Musculación/Hipertrofia</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>Aprenderás a armar tu plato y comidas basándote en fórmulas de grupos de alimentos y ejemplos. Esto te permitirá la autogestión, planificación y personalización. Porque no todos los días quieres comer lo mismo, ni de otra manera vas a educarte para conseguir un estilo de vida saludable.</p>
		<p>Nuestro objetivo va hacer la hipertrofia muscular y un control del porcentaje de grasa. Para esto es importante un correcto aporte calórico y proteico. Crucial es lo que llamamos el timming de nutrientes, es decir, los momentos de ingesta. Por ello tendrás una devolución personalizada con tu plan de ejercicio, intensidades, días y horarios, contexto y economía.</p>
	</div>
</div>