<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 services-content-title">
		<p>Plan Alimentario descenso de peso saludable</p>
	</div>
	<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
		<a href="">Presencial</a><button class="bullet-button services-bullet-check"></button>
	</div>
	<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
		<a href="">Online</a><button class="bullet-button services-bullet-cross"></button>
	</div>
</div>
<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-8 col-xl-8 services-description">
		<p>Aprenderás a armar tu plato y comidas basándote en fórmulas de grupos de alimentos y</p>
		<p>ejemplos. Esto te permitirá una autogestión, planificación y personalización. Porque no todos</p>
		<p>los días quieres comer lo mismo ni de otra manera vas a educarte para un estilo de vida saludable.</p>
	</div>
	<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
		<p class="services-ftf-icon"></p>
	</div>
	<div class="col-1 col-sm-1 col-md-1 col-lg-2 col-xl-2">
		<p class="services-online-icon"></p>
	</div>			
</div>