<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Antropometría</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>La antropometría es un método para estimar la composición corporal, donde se cuantifican mediciones y se obtiene como resultado el fraccionamiento del cuerpo en 5 componentes: musculo, grasa, piel, hueso, resto.</p>
		<p class="bold-text">Estudio completo que realizo principalmente a deportistas, únicamente en consultorio.</p>
	</div>
</div>