<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Asesoramiento de Ejercicio</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>El ejercicio físico debe ser de calidad. Se sabe científicamente que realizarlo colabora en la modificación de la composición corporal e inclusive el ánimo. Pero para esto es importante una correcta prescripción y realización. Además de licenciada en nutrición soy entrenadora personal con doble titulación, quiero que logres tu objetivo y trabajaremos juntos para ello.</p>
	</div>
</div>