<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Interacción Grupal</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>Compartir e intercambiar ideas de otros platos y sabores nos ayuda a darnos ánimo y a ¡saber que no estamos solos! Estamos todos colaborando en un camino hacia tu propia versión sana.</p>
	</div>
</div>