<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Calorimetría Indirecta</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>La calorimetría indirecta típicamente estima la energía gastada por un individuo mediante el análisis de su consumo de oxígeno y la composición del gas exhalado. Hoy en día contamos con el primer dispositivo portátil capaz de medir la actividad metabólica llamado Breezing. Este utiliza la calorimetría indirecta para medir el gasto energético en reposo, el gasto total de energía, la fuente de energía de nuestro cuerpo (carbohidratos, grasas, etc.) y mantener un historial de nuestro metabolismo y peso.</p>
		<p>Será un estudio complementario que se realiza en el consultorio para ajustar el plan de alimentación al metabolismo del paciente. Si bien se podrán realizar modificaciones alimentarias y un seguimiento vía online, deberá acercarse a los consultorios para realizarse el estudio.</p>
	</div>
</div>