<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Aplicación Móvil</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>Una aplicación de teléfono te permitirá planificar y registrar tus comidas diarias, compartirlas, cuantificar tu hidratación, hacer tu listado de compras, autoseguimiento de puntuación, peso, medidas antropométricas, masa grasa y muscular, establecer objetivos y cumplimientos de ejercicio físico, recibir mensajes positivos y motivacionales, juegos interactivos de educación alimentaria.</p>
		<p>Los pacientes que concurran a la consulta o bien se registren de manera virtual tendrán el mismo acceso.</p>
	</div>
</div>