<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Neurosicoeducación Alimentaria</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>La Neurosicoeducación es una formación específica que permite comprender los mecanismos de la mente humana aprovechando el conocimiento científico que aportan las neurociencias para desarrollar la capacidad de comprensión de los procesos de aprendizaje y los mecanismos de memoria, que son la base para aprender y reaprender.</p>
		<p>Usted podrá acceder a clases presenciales, grabadas y en vivo. Además participará de las actividades y juegos interactivos online.</p>
		<p>Las temáticas son:</p>
		<ul>
			<li>Saciedad y Saciación</li>
			<li>Picoteos y momentos de ansiedad</li>
			<li>Manejo de comidas fuera de casa</li>
			<li>Hidratación</li>
			<li>Planificador de cumpleaños</li>
			<li>Alimentos que generan cambios metabólicos</li>
			<li>Aprenda a leer un rótulo alimentario</li>
			<li>Conducto alimentaria y cerebro: ¿soy prisionero?</li>
			<li>¿Soy sedentario aunque haga ejercicio?</li>
			<li>Modificación de recetas</li>
			<li>¿Sirve para usted contar calorías diarias?</li>
			<li>Eventos familiares: Sin tupper, No estoy a dieta</li>
		</ul>
	</div>
</div>