<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Neurosicoeducación Alimentaria</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>La Neurosicoeducación es una formación específica que permite comprender los mecanismos de la mente humana aprovechando el conocimiento científico que aportan las neurociencias para desarrollar la capacidad de comprensión de los procesos de aprendizaje y los mecanismos de memoria, que son la base para aprender y reaprender.</p>
		<p>Usted tendrá poadrá acceder a clases presenciales, grabadas y en vivo. Además podrá participar de las actividades y juegos interactivos online.</p>
	</div>
</div>