<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Nutrigenética y Nutrigenómica</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>La nutrigenética investiga las variantes genéticas que causan una determinada enfermedad, y su riesgo. De esta manera, con la nutrigenética se puede recomendar un tipo de dieta capaz de minimizar el riesgo de contraer una determinada enfermedad.</p>
		<p>En base a los resultados elaboro un plan alimentario personalizado. Se pueden realizar modificaciones alimentarias y seguimiento via online pero debe acercarse a los consultorios o laboratorio para una toma de muestra salival.</p>
		<p>La nutrigenómica es la parte de la ciencia que estudia la interacción de los alimentos con el genoma. Es decir, estudia de qué manera los nutrientes y otros componentes de los alimentos interaccionan o incluso modulan el material genético.</p>
		<p>En consulta se educa y evalúa la forma de incorporar alimentos que beneficia evitar el desarrollo de enfermedades.</p>
	</div>
</div>
