<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Mediciones Periódicas</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>Es importante que dejes de pensar como único objetivo el peso en la balanza. La realidad es que un día se está más hidratado, constipado, con distinta ropa, con cambios hormonales, y otros factores que pueden modificarlo, aun alimentándose sanamente. Por eso es importante poder controlar tanto su masa muscular y grasa como su conducta alimentaria diaria.</p>
		<p>Si concurrís a la consulta conmigo te espero para realizar una bioimpedancia y toma de medidas antropométricas.</p>
		<p>La bioimpedancia eléctrica se fundamenta en la oposición de las células, los tejidos o líquidos del organismo al paso de una corriente eléctrica generada por el propio aparato. De ésta manera proporciona una estimación directa del agua corporal total para estimar de forma indirecta la masa libre de grasa y la masa grasa, a través de fórmulas preestablecidas.</p>
		<p>Si nos vemos a la distancia la propuesta es manejarnos con las medidas y fórmulas para el autoseguimiento. Tendrás una guía sencilla, rápida y fácil para tomarlas de manera correcta. Luego cargando tus datos en la aplicación o desde el campus obtendrás tus porcentajes de grasa y músculo. Al autoseguimiento se le sumará un puntaje diario de autoevaluación, que dependerá de como vas con tus comidas y ejercicio.</p>
		<p class="bold-text">No olvides que siempre voy a estar antes tus dudas y momentos de dificultad dándote herramientas y soluciones.</p>
	</div>
</div>