<div class="services-separator"></div>

<div class="row">
	<div class="col-10 col-sm-10 col-md-10 col-lg-10 col-xl-10 services-content-title">
		<p>Nutrición Deportiva y Fitness</p>
	</div>
	<div class="col-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
		<a class="services-online-glyph"></a>
		<a class="services-ftf-glyph"></a>
	</div>
</div>
<div class="row">
	<div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 services-description">
		<p>La nutrición deportiva es uno de los tres factores que marcan el desempeño en un deporte, los otros son los factores genéticos particulares del atleta y el tipo de entrenamiento realizado.</p>
		<p>Los alimentos que se incluyen en una dieta deportiva atienden a tres objetivos básicos: proporcionar energía, proporcionar material para el fortalecimiento y reparación de los tejidos, mantener y regular el metabolismo.</p>
		<p>No existe una dieta general para los deportistas, cada deporte tiene demandas especiales y una nutrición específica. Cuando el ejercicio se realiza para mejorar aptitudes físicas y de salud podemos denominarlo como fitness. Aquí será importante para lograr objetivos y que no sea en vano el esfuerzo de llevar una correcta alimentación.</p>
	</div>
</div>